<br>
<div id="<%= dom_id directly_report %>" class="container-fluid bg-primary-subtle p-5">
  <p>
    <h1><%= directly_report.first_name %></h1>
    <h2><%= directly_report.last_name %></h2>
  </p>

  <p>    
    <%= directly_report.email %>
  </p>

  <p>
    <strong><%= directly_report.title %></strong>    
  </p>

</div>
<br>
